:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Alycidon-Condensed';
    src: url('../fontes/Alycidon-Condensed.otf');
    font-weight: normal;
}

/* elementos base*/

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    /* Padrão do flex, coloquei só por semantica */
    align-items: center;
    /* justify-content: space-between; */
}

header .logo {
    margin-left: 5px;
    margin-right: 40px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-left: 10px;
}

header nav a:hover {
    color: #fff;
}

/* filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/img-fundo.jpg');
    /* background: url('../img/img-fundo.jpg'); */
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 10%;
    font-size: 60pt;
    font-family: 'Alycidon-Condensed';
    font-weight: normal;
}
/* .butoes{
    display: flex;
    flex-direction: row;
    /* Padrão do flex, coloquei só por semantica 
    align-items: center;
} 
.contorno-butao {
    border: 0;
    padding: 3px;
    margin-right: 15px;
}
.contorno-butao:focus {
    border: 2px solid white;
    border-radius: 7px;
    padding: 3px;
} */
.butao {
    /* background-color: rgba(0, 0, 0.50); */
    background-color: white;
    margin-right: 15px;
    border: none;
    border-radius: 7px;
    color: black;
    padding: 15px 30px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    outline: none;
}


.butao:focus {
    box-shadow: 0 0 0 2px white;
    /* border: 5px solid white; */
}

.butao:hover {
    background-color: rgb(202, 202, 202);
    /* color: rgb(94, 93, 93); */
}

.butao i {
    margin-right: 8px;
}

.btn-assitir {
    background-color: white;
}

.container {
    margin-left: 30px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 20rem;
    background-size: cover;
    border-radius: 5px;
}

.carrosel-filmes {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.titulo-carousel {
    margin-bottom: 5px;
}